$breakpoints: (
  mobile: 200px,
  tablet: 768px,
  laptop: 1024px,
  desktop: 1200px
);

@mixin respond($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @error "Invalid breakpoint: #{$breakpoint}. Please use one of: #{map-keys($breakpoints)}";
  }
}

// @mixin respond($breakpoint) {
//   @if map-has-key($breakpoints, $breakpoint) {
//     @if $breakpoint == desktop {
//       @media (max-width: map-get($breakpoints, $breakpoint)) {
//         @content;
//       }
//     } @else {
//       @media (max-width: map-get($breakpoints, $breakpoint)) {
//         @content;
//       }
//     }
//   } @else {
//     @error "Invalid breakpoint: #{$breakpoint}. Please use one of: #{map-keys($breakpoints)}";
//   }
// }