@use "src/styles/abstract" as *;

.container {
  display: flex;
  justify-content: space-around;
  width: $dashboard-width;
  @include respond(tablet, max) {
    flex-direction: column;
    width: auto;
    height: auto;
    padding: 0 2rem;
    margin: 0 2rem;
  }
}

.content-left-container {
  display: flex;
  flex-direction: column;
  width: 60rem;
  height: auto;
  margin-top: 0.3rem;
  @include respond(tablet, max) {
    padding-top: 0rem;
    width: clamp(40rem, 100%, 120rem);
  }
}

.research-information{
  margin-top: 3rem;
}

.information-text {
  font-size: 2rem;
  margin-top: 1rem;
}

.content-right-container {
  display: flex;
  flex-direction: column;
  width: 40rem;
  height: 60rem;

  @include respond(tablet, max) {
    width: clamp(40rem, 100%, 120rem);
  }

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section {
  background-color: white;
  padding-top: 2rem;
  margin-bottom: 2rem;

}

.information {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 40rem;
  gap: 1rem;

  @include respond(tablet, max) {
    width: clamp(40rem, 100%, 120rem);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
}



.card {
  margin-top: 2rem;
  height: clamp(40rem, 100%, 120rem);
}

.button-onderzoekinfo {
  display: flex;
  justify-content: flex-start;
}
.button-onderzoekinfo-1{

  padding: 0rem 1rem;
}


.button-onderzoekinfo-ervaringsdeskundige {
  display: flex;
  justify-content: flex-start;
}

.button-onderzoekinfo-2 {
  padding: 0rem 1rem;
}