@use "src/styles/abstract" as *;

.progress-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;



    .stage {
        display: block;
        width: 12.5rem;
        height: .8rem;
        background-color: #c2cdfa;
        user-select: none;
        transition: background-color $animation-slow;

        @include respond(600px) {
            width: 10rem;
        }
    

        &.active {
            background-color: $color-primary;
        }
    }
}