@use "src/styles/abstract" as *;

.tool-tip {
    position: relative;

    &__message {
        position: absolute;
        left: 50%;
        background-color: $color-blue-black;
        color: white;
        display: block;
        font-size: 1.4rem;
        padding: .5rem 1rem;
        border-radius: $border-radius-small;
        transform: translate(-50%, -50%);
        width: max-content;

        opacity: 0;
        z-index: 10;
        visibility: hidden;

    }

    &__message::after {
        content: '';
        position: absolute;
        width: 1rem;
        height: 1rem;
        background-color: $color-blue-black;
        transform: rotate(45deg);
        bottom: -.4rem;
        left: 50%;
        transform-origin: 50% 0;

        z-index: 5;
    }

    &.error &__message {
        background-color: $color-tertiary;
    }

    & > *:hover ~ .tool-tip__message,
    &:focus-within &__message {
        @media (prefers-reduced-motion: reduce) {
            animation: none;
            visibility: visible;
            opacity: 1;
        }

        @media (prefers-reduced-motion: no-preference) {
            animation: moveMessage $animation-fast forwards;
        }
    }

    &.top .tool-tip__message {
        bottom: 100%;
    }

    &.bottom .tool-tip__message {
       top: 175%;

        &::after {
            top: .4rem;
        }
    }
}

@keyframes moveMessage {
    from {
        opacity: 0;
        visibility: hidden;
    }

    to {
        opacity: 1;
        visibility: visible;
    }
}
