@use "src/styles/abstract" as *;

.option-selector {
    font-size: 1.6rem;
    position: relative;
    cursor: pointer;
    max-width: 30rem;

    width: 24rem;
    min-height: 4rem;

    label {
        font-weight: bold;
        margin-bottom: .5rem;
        display: block;
    }

    .selector-value {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;

        font-weight: bold;
        
        gap: 10px;
        user-select: none;

        padding: 1rem 2rem;
        border: $border-component;
        border-radius: $border-radius-medium;
        width: 100%;

        background-color: transparent;

        & svg {
            display: block;
            transition: transform $animation-fast;
        }

        &.open ~ .options-list {
            display: block;
        }

        &.open svg {
            transform: rotate(180deg);
        }
    }


    .options-list {
        position: absolute;
        top: 100%;
        transform: translateY(1rem);

        display: none;

        background-color: $color-white;
        z-index: 1;

        list-style: none;
        width: 100%;
        max-height: 20rem;
        overflow-y: auto;


        border: $border-component;
        border-radius: $border-radius-medium;


        .option {
            padding: .8rem 2rem;
            text-align: center;

            &:hover {
                border: $border-component;
            }
        }
    }


   
}