

.news {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  &-navigation {

  }


  &-articles {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    list-style: none;
  }

  &-article {
    display: flex;
    flex-direction: column;
    background-color: $color-white;
    border: $border-container;
    border-radius: $border-radius-big;
    padding: 3rem;

    gap: 2rem;

    &__content {
      display: flex;
      flex-direction: column;
      gap: 2rem;

    }

    &__header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 1rem;
    }

    .buttons {
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }
  }

}