.container {
  margin-top: 2rem;
  margin-left: 0rem;
  margin-right: 0rem;
  display: flex;
  justify-content: space-around;
  height: 60rem;
  width: 100%;

  // Media query voor kleine schermen
  @media (max-width: 900px) {
    flex-direction: column;
    width:auto;
    height: auto;
    padding: 0 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
.onderzoek-omschrijving{
  font-size: 2rem;
}


.content-left-container {
  display: flex;
  flex-direction: column;
  width: 60rem;
  height: auto;
  padding-top: 5rem;

  @media (max-width: 900px) {
    padding-top: 0rem;
    width: 100%;
  }
}

.information-text {
  font-size: 2rem;
  margin-top: 1rem;
}

.content-right-container {
  display: flex;
  flex-direction: column;
  width: 40rem;
  height: 60rem;

  @media (max-width: 900px) {
    width: 100%;
    // optioneel: aanpassen van de hoogte indien nodig
  }

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section {
  background-color: white;
  padding-top: 2rem;
  margin-bottom: 2rem;

}

.information {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  width: 40rem;

  @media (max-width: 900px) {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: start;
  }
}

.information-location, .information-vergoeding, .information-datum {
  margin-left: 1rem;
}

.card {
  margin-top: 2rem;
  height: 100%;
}

.btn {
  margin-top: 1rem;
  padding: 0.2rem 1rem;
  font-size: 0.8rem !important;
}

