*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; // this makes it so 1rem = 10px
    font-family: $font-family-1;
}

body {
    overflow-x: hidden;
}



select,input,button,label {
    outline: none;
    border: none;
}

#root {
    min-width: 100vw;
    min-height: 100vh;
}

main {
    padding: $padding-page-phone;
    width: 100%;

    @include respond(tablet, min) {
        padding: $padding-page-tablet;
    }

    @include respond(laptop, min) {
        padding: $padding-page;
    }
}

