*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; // this makes it so 1rem = 10px
}

body, html {
    overflow-x: hidden;
}

select,input,button,label {
    outline: none;
    border: none;
}