@import 'abstract/variables', 'abstract/mixins', 'abstract/typography';

@import 'base';

@import 'component/index';

#root {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100%;
}
