@use "src/styles/abstract" as *;

.tracking {
    --gap: 2rem;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: var(--gap);

     &__results__page, &__results__other {
        background-color: $color-white;;
        padding: 3rem !important;
        border-radius: $border-radius-big;
        border: $border-container;
    }

    .scroll-div {
        max-height: 20rem;
        overflow-y: auto;
        padding: 1rem;
        &::-webkit-scrollbar {
            width: .8rem;
            overflow: overlay;
        }

        &::-webkit-scrollbar-track {
            background: $color-gray;
            border-radius: 2rem;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: $color-primary-85;
            border-radius: 2rem;

            &:active {
                background-color: $color-primary-60;
            }
        }
    }


    &__results {
        display: flex;
        flex-direction: row;
        gap: var(--gap);
        width: 100%;
        height: 100%;

        @include respond(tablet, max) {
            flex-direction: column;
        }



        &__page {
            flex-grow: 1;
            padding: 2rem 5rem;

            @include respond(tablet) {
                tr {
                    padding-bottom: 2rem;
                  }
            }
        }
    
        &__other {
            display: flex;
            flex-direction: column;
            gap: var(--gap);

            padding: 2rem 5rem;
            width: 39rem;
            

            @include respond(tablet) {
                width: 100%;
            }

            .result-list {
                display: flex;
                flex-direction: column;
                list-style-type: none;
                gap: 2rem;


                &__item {
                    display: flex;
                    flex-direction: column;
                    gap: .5rem;

                    font-size: 1.7rem;
                    font-family: $font-family-1;
                }
            }
        }
       }
}

