@use "src/styles/abstract" as *;

.dashboard-wrapper {
    display: flex;

    justify-content: center;
}

.dashboard {
    position: relative;
    width: clamp(25rem, 100%, 180rem);

    .not-found {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .heading-2 {
        margin-bottom: 2rem;
    }
}



