@use "src/styles/abstract" as *;

.back {
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  font-weight: bold;
  font-family: $font-family-1;
  text-decoration: none;
  color: $color-black;
  gap: .5rem;

  &:hover {
    text-decoration: underline;
  }
}