$color-primary: #2B50EC;
$color-primary-60: #4464EE;
$color-primary-85: #B9C5F9;

$color-secondary: #108670;
$color-secondary-2: #1CA883;
$color-secondary-3: #21CEA1;

$color-tertiary: #CD4D00;
$color-tertiary-2: #F55C00;
$color-tertiary-3: #FF7D00;

$color-blue-dark: #131B56;
$color-blue-black: #111329;

$color-white: #FFFFFF;
$color-white-2: #F2F2F2;
$color-white-3: #E6E6E6;

$color-gray: #F3F4F6;

$color-black: black;