


// border
$component-border: 1px solid black;
$component-focus-border: 2px solid black;

$border-radius-small: 3px;
$border-radius-medium: 5px;
$border-radius-big: 8px;

// animation speeds
$animation-fast: .3s;
$animation-medium: .5s;
$animation-slow: .7s;