@import '../mixins.scss';


// border
$border-component: 1px solid black;
$border-component-focus: 2px solid black;
$border-container: 3px solid #EBECF0;


$border-radius-small: 3px;
$border-radius-medium: 5px;
$border-radius-big: 8px;



// animation speeds
$animation-fast: .3s;
$animation-medium: .5s;
$animation-slow: .7s;
$animation-slowest: 1s;


$padding-page-phone: 5rem 1rem;
$padding-page-tablet: 5rem 6rem;
$padding-page: 5rem 12rem;

$dashboard-width: clamp(25rem, 100%, 140rem);