.multi-input-selector {
    ul {
        margin-top: 1rem;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        max-width: 25rem;
    }

    li {
        padding: .5rem !important;
        padding-left: 1rem !important;
      

        &:hover path {
            fill: $color-tertiary;
        }

        svg, path, g {  
            fill: $color-primary-60;
        }

    

        svg  {
            cursor: pointer;
        }
      
    }
}