.multi-input-selector {
    ul {
        margin-top: 1rem;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        max-width: 30rem;
    }

    li {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;
        
      

        color: $color-primary;
        background-color: $color-primary-85;
        
        font-size: 1.3rem;
        border-radius: $border-radius-small;
        font-weight: bold;
        padding: .5rem;
        padding-left: 1rem;
      

        &:hover path {
            fill: $color-tertiary;
        }

        svg, path, g {  
            fill: $color-primary-60;
        }

    

        svg  {
            cursor: pointer;
        }
      
    }
}