.switch {

    &:focus-visible .switch-button, &:focus-within .switch-button {
        outline: $border-component-focus !important;
    }

    &-button {

        display: flex;
        align-items: center;
        padding: 0 3px;
    
        border: $border-component;
        border-radius: 1rem;
        user-select: none;
        cursor: pointer;
        position: relative;
    
        height: 2rem;
        width: 4rem;
        
        &::before {
            position: absolute;
            display: block;
            content: "";
            height: 1.5rem;
            width: 1.5rem;
            border-radius: 50%;
            background-color: $color-black;
            transition: all $animation-fast;
        }
    }


    &-cb {
        opacity: 0;

        &:checked ~ .switch-button {
            background-color: $color-black;

            &::before {
                background-color: $color-white;
                transform: translateX(100%);
            }
        }
    }

    



}