.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  background-color: $color-white;
  padding: 1.5rem 4rem;
  z-index: 10;

  font: $font-family-1;
  font-size: 1.8rem;
  color: $color-black;

  text-decoration: none;

  svg {
    margin-right: 1.5rem;
  }

  .logo {
    height: 4rem;
    width: 4rem;
  }

  .navigation-items {
    display: flex;
    flex-direction: row;
    justify-content: center;

    list-style: none;
  }

  .navigation-item a {
    display: flex;
    align-items: center;
    justify-content: start;
    text-decoration: none;
    color: $color-black;


    padding: 1rem 2rem;
    border-radius: $border-radius-small;
    transition: background-color $animation-fast;

    &:hover {
      background-color: rgba($color-primary-60, .2);

    }
  }

  .profile-button {
    background-color: transparent;
    font-size: 1.8rem;
    color: $color-black;
    font-weight: normal;
  }

}