.onderzoeken-page {
  width: 80%; /* Stel de breedte in op 80% van de #root */
  margin: 0 auto; /* Centreer het op de pagina */
  padding: 20px 0; /* Voeg padding toe aan de boven- en onderkant */

}
.onderzoek-info {
  display: flex;
  align-items: center; /* Dit zal de items verticaal centreren */
  justify-content: space-between; /* Dit zorgt ervoor dat de titel en filters verdeeld zijn over de beschikbare ruimte */
   /* Voeg wat padding toe rond de gehele .onderzoek-info container */
  padding-bottom:3rem ;
  padding-top:3rem ;

}

.titel {
  flex-grow: 1; /* Dit zorgt ervoor dat de titel div kan groeien om extra ruimte in te nemen */
}

.filters {
  flex-grow: 0; /* Dit zorgt er ook voor dat de filters div kan groeien om extra ruimte in te nemen */
}

.onderzoek-items {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.onderzoek-item {
  display: flex;
  min-height: 20rem; /* Minimale hoogte */
  width: 100%;
  height: 100%;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  height: 20rem;
  border-radius: 8px;
  border: 3px solid var(--border-2, #EBECF0);
  background: var(--White, #FFF);
}

.content-right {
  display: flex;
  align-items: flex-end; /* Lijnt items uit aan de rechterkant */
  justify-content: flex-start; /* Items worden naar de bovenkant van de container gepositioneerd */

}


.content-left {
  flex: 0 0 70%; /* Neemt 70% van de breedte van het onderzoeksitem */
  padding-right: 20px; /* Voegt ruimte toe tussen de kolommen */
  height: 100%;
}

.content-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  height: 100%;
}

