@import '../main.scss';

.onderzoeken-page {
  width: clamp(25rem, 90%, 120rem);
  margin: 0 auto;
  padding: 1rem 0;
  background: var(--Gray, #F3F4F6);
}

.body-special-color {
  background: var(--Gray, #F3F4F6);
}


.onderzoek-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 3rem;
  padding-top: 2rem;
  background: var(--Gray, #F3F4F6);
}
.content-titel{
  color: #000;
  text-align: center;
  display: inline;
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
button.btn.onderzoek-button {
  padding: 1.5rem 6rem;
}

div.filters>.option-selector {
  padding-right: 1rem;
}
.onderzoek-ttitel{
  color: #000;

  /* Heading 3 */
  font-family: Inter;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.titel {
  flex-grow: 1;
}

.filters {
  flex-grow: 0;
  display: flex;
}

.onderzoek-item {
  display: flex;
  min-height: 20rem;
  width: clamp(40rem, 100%, 120rem);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  height: 22rem;
  border-radius: 8px;
  border: 3px solid var(--border-2, #EBECF0);
  background: var(--White, #FFF);
  @include respond(laptop, max) {
    flex-direction: column;
    width: auto;
    height: auto;
    padding: 0 2rem;
  }
}

.onderzoek-omschrijving {
  font-size: 1.6rem;
  color: #000;
  font-family: Inter, serif;
  font-style: normal;

  font-weight: 400;
  line-height: 150%;
}
.content-tags {
  display: flex;
  justify-content: center;

}
.content-informatie-een{
  display: flex;
  padding: 0px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 3px;
  background: var(--Primary-85, #B9C5F9);
  color: var(--Primary, #2B50EC);
  font-family: Inter;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 19.5px */
  margin-right: 3rem;
}
.content-tags>.content-informatie {

  display: flex;
  padding: 0px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 3px;
  background: var(--Primary-85, #B9C5F9);
  color: var(--Primary, #2B50EC);
  font-family: Inter;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 19.5px */
}



.content-left {
  flex: 0 0 70%;
  padding-right: 20px;
  height: 100%;

  @include respond(tablet, max) {
    padding-top: 0rem;
    width: 100%;
  }
}

.content-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;
  @include respond(tablet, max) {
    align-items: flex-start;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
  }
}

.content-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .content-informatie{
    font-family: Inter;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
  }
}


