@import '../main.scss';

.onderzoeken-page {
  margin: 0 auto;
  padding: 1rem 0;
  background: var(--Gray, #F3F4F6);
  width: $dashboard-width;
  
}

.body-special-color {
  background: var(--Gray, #F3F4F6);

}


.onderzoek-info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3rem;
  padding-top: 2rem;
  background: var(--Gray, #F3F4F6);
  align-items: flex-end;

  @include respond(tablet, max) {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: flex-start;
  }
}

.content-titel {
  text-align: center;
  display: inline;
}

button.btn.onderzoek-button {
  padding: 1.5rem 6rem;

  @include respond(tablet, max) {
    padding: 0.5rem 3rem;
  }
}

div.filters > .option-selector {
  padding-right: 1rem;
}

.titel {
  flex-grow: 1;
}

.filters {
  flex-grow: 0;
  display: flex;
  margin-top: 2rem;
}

.onderzoek-item {
  display: flex;
  min-height: 20rem;
  padding: 2rem;
  margin-bottom: 2rem;
  height: 22rem;
 border-radius: $border-radius-big;
  border: 3px solid var(--border-2, #EBECF0);
  background: var(--White, #FFF);
  @include respond(laptop, max) {
    flex-direction: column;
    width: auto;
    height: auto;
    padding: 0 2rem;
  }
}


.content-tags {
  display: flex;
  justify-content: center;
  @include respond(tablet, max) {
    display: flex;
    justify-content: flex-start;
  }

}

.content-informatie-een {
  padding: 0rem 1rem;
  margin-right: 3rem;
}

.content-tags > .content-informatie {
  padding: 0rem 1rem;
}


.content-left {
  flex: 0 0 70%;
  padding-right: 20px;
  height: 100%;

  @include respond(tablet, max) {
    padding-top: 1rem;
    width: 100%;
  }
}

.content-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;
  @include respond(tablet, max) {
    align-items: flex-start;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
  }
}

.content-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @include respond(tablet, max) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }


}


