@import '../main.scss';

.container {
  margin: 2rem 0 0;
  display: flex;
  justify-content: space-around;
  height: 60rem;
  width: clamp(40rem, 100%, 180rem);
  @include respond(tablet, max) {
    flex-direction: column;
    width:auto;
    height: auto;
    padding: 0 2rem;
    margin: 0 2rem;
  }
}
.onderzoek-omschrijving,.information-text{
  font-size: 1.6rem;
  font-family: Inter;
}


.content-left-container {
  display: flex;
  flex-direction: column;
  width: 60rem;
  height: auto;
  padding-top: 2rem;
  @include respond(tablet, max) {
    padding-top: 0rem;
    width: clamp(40rem, 100%, 120rem);
  }
}

.information-text {
  font-size: 2rem;
  margin-top: 1rem;
}

.content-right-container {
  display: flex;
  flex-direction: column;
  width: 40rem;
  height: 60rem;

  @include respond(tablet, max) {
    width: clamp(40rem, 100%, 120rem);
  }

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section {
  background-color: white;
  padding-top: 2rem;
  margin-bottom: 2rem;

}

.information {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  width: 40rem;

  @include respond(tablet, max) {
    width: clamp(40rem, 100%, 120rem);
    display: flex;
    justify-content: flex-start;
    align-items: start;
  }
}
.heading-2 {
  font-size: 2.8rem;
  /* color: #000; */
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.heading-3 {
  font-size: 1.8rem;
  color: #000;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}



.information-location, .information-vergoeding, .information-datum {
  margin-left: 1rem;
  border-radius: 3px;
  background: var(--Primary-85, #B9C5F9);
  color: var(--Primary, #2B50EC);
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 19.5px */
  display: flex;
  padding: 0px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.card {
  margin-top: 2rem;
  height: clamp(40rem, 100%, 120rem);
}
