@import '../main.scss';

.container {
  margin: 2rem 0 0;
  display: flex;
  justify-content: space-around;
  height: 60rem;
  width: $dashboard-width;

  @include respond(tablet, max) {
    flex-direction: column;
    width:auto;
    height: auto;
    padding: 0 2rem;
    margin: 0 2rem;
  }
}
.onderzoek-omschrijving{
  font-size: 2rem;
}


.content-left-container {
  display: flex;
  flex-direction: column;
  width: 60rem;
  height: auto;
  padding-top: 5rem;

  @include respond(tablet, max) {
    padding-top: 0rem;
    width: clamp(40rem, 100%, 120rem);
  }
}

.information-text {
  font-size: 2rem;
  margin-top: 1rem;
}

.content-right-container {
  display: flex;
  flex-direction: column;
  width: 40rem;
  height: 60rem;

  @include respond(tablet, max) {
    width: clamp(40rem, 100%, 120rem);
  }

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section {
  background-color: white;
  padding-top: 2rem;
  margin-bottom: 2rem;

}

.information {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  width: 40rem;

  @include respond(tablet, max) {
    width: clamp(40rem, 100%, 120rem);
    display: flex;
    justify-content: flex-start;
    align-items: start;
  }
}

.information-location, .information-vergoeding, .information-datum {
  margin-left: 1rem;
}

.card {
  margin-top: 2rem;
  height: clamp(40rem, 100%, 120rem);
}
