
.container {
    margin-top: 2rem;
    display: flex;
    justify-content:space-around;
    height: 100%;
    width: 80%;
  }
  .content-left-container{
    display: flex;
    flex-direction:column;
    width: 45%;
    height: auto;
  }
  .information-text{
    font-size: 1.4rem;
    margin-top: 1rem;
  }
  
  .content-right-container{
    display: flex;
    flex-direction:column;
    width: 45%;
    height: 40rem;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .section {
    background-color: white;
    padding-top: 2rem;
    margin-bottom: 2rem;
  }
  .information{
    display: flex;
    justify-content: flex-end;
    align-items: end;
    width: 100%;
  }
  .information-loction,.information-vergoeding,.information-datum{
    margin-left: 1rem;
  }
  .card{
    margin-top:2rem;
    height: 100%;
  }

  .btn{
    margin-top: 1rem;
    padding: 0.2rem 1rem;
    font-size:0.8rem !important;

  }